<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuit">

  <test name="redis">
	  <packages>
		  <package name="me.qiancheng.qianworks.meicai.redis" />
	  </packages>
  </test>


  <test name="schedule">
	  <packages>
		  <package name="me.qiancheng.qianworks.meicai.schedule" />
	  </packages>
  </test>

</suite>